@model IEnumerable<BikeSearchQueryModel>

<div class="row">
    @foreach (var bike in Model)
    {
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="@bike.ImageUrl" alt="@bike.Brand @bike.Model - @bike.Brand ">
            <div class="card-body text-center">
                <h5 class="card-title text-center">@bike.Brand - (@bike.Model, @bike.Year)</h5>
                <a asp-controller="Bikes" asp-action="Details" asp-route-id="@bike.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    }
</div>